@model Mvc5TestBed.MyMvcWebApp.Models.Wizard.WizardViewModel
@{
    ViewBag.Title = "Step" + Model.CurrentStepNumber;
}


<div id="Step_2">
    <div class="form-group">
        <label for="Step_2_Field_A" class="control-label @(Model.CurrentStepNumber == 2 ? "" : "hidden")">Step_2_Field_A:</label>
        <input type="@(Model.CurrentStepNumber == 2 ? "text":"hidden")" name="Step_2_Field_A" id="Step_2_Field_A" data-bind="value: Step_2_Field_A" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Step_2_Field_B" class="control-label @(Model.CurrentStepNumber == 2 ? "" : "hidden")">Step_2_Field_B:</label>
        <input type="@(Model.CurrentStepNumber == 2 ? "text":"hidden")" name="Step_2_Field_B" id="Step_2_Field_B" data-bind="value: Step_2_Field_B" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Step_2_Field_C" class="control-label @(Model.CurrentStepNumber == 2 ? "" : "hidden")">Step_2_Field_C:</label>
        <input type="@(Model.CurrentStepNumber == 2 ? "text":"hidden")" name="Step_2_Field_C" id="Step_2_Field_C" data-bind="value: Step_2_Field_C" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Step_2_Field_D" class="control-label @(Model.CurrentStepNumber == 2 ? "" : "hidden")">Step_2_Field_D:</label>
        <input type="@(Model.CurrentStepNumber == 2 ? "text":"hidden")" name="Step_2_Field_D" id="Step_2_Field_D" data-bind="value: Step_2_Field_D" class="form-control" />
    </div>
</div>
