@model Mvc5TestBed.MyMvcWebApp.Models.Wizard.WizardViewModel
@{
    ViewBag.Title = "Step" + Model.CurrentStepNumber;
}


<div id="Step_3">
    <div class="form-group">
        <label for="Step_3_Field_A" class="control-label @(Model.CurrentStepNumber == 3 ? "" : "hidden")">Step_3_Field_A:</label>
        <input type="@(Model.CurrentStepNumber == 3 ? "text":"hidden")" name="Step_3_Field_A" id="Step_3_Field_A" data-bind="value: Step_3_Field_A" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Step_3_Field_B" class="control-label @(Model.CurrentStepNumber == 3 ? "" : "hidden")">Step_3_Field_B:</label>
        <input type="@(Model.CurrentStepNumber == 3 ? "text":"hidden")" name="Step_3_Field_B" id="Step_3_Field_B" data-bind="value: Step_3_Field_B" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Step_3_Field_C" class="control-label @(Model.CurrentStepNumber == 3 ? "" : "hidden")">Step_3_Field_C:</label>
        <input type="@(Model.CurrentStepNumber == 3 ? "text":"hidden")" name="Step_3_Field_C" id="Step_3_Field_C" data-bind="value: Step_3_Field_C" class="form-control" />
    </div>
</div>
