@model Mvc5TestBed.MyMvcWebApp.Models.ProfileImage
@{
    ViewBag.Title = "Index";
}

<style>
    .dropzone {
        float: left;
        width: 300px;
        height: 300px;
        border: 1px solid #cccccc;
        border-radius: 7px;
        padding: 10px;
    }
</style>

@Styles.Render("~/Content/jquery.Jcrop.css")

@*MUST REMOVE Jquery Bundle from _layout & refer like this (not sure why???)*@
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.Jcrop.js")


<div class="container">
    <div class="row">
        <div id="initialInfo" class="infoBox">
            <h3>Choose Image to Upload</h3>
            <input class="btn btn-default" id="imageFileInput" name="pictureFiles" type="file" accept="image/*" multiple>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("Upload", "PictureUpload", FormMethod.Post, new { @id = "frmImageUpload", enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.HiddenFor(m => m.ImageData, new { @id = "hiddenImageData", })

                <div id="dropzone" class="dropzone">
                    @if (null != Model.ImageData)
                    {
                        <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String((byte[])Model.ImageData)))" style="width:100%" />
                    }
                    else
                    {
                        @: or drag/drop image file(s) here
        }
                </div>
            </div>
            <div class="row">
                <button id="cropButton" class="btn btn-default" type="button" @((null == Model.ImageData)?"disabled=\"disabled\"":"")>Crop</button>
                <input id="frmSubmit" type="submit" value="Send to Server" class="btn btn-default">
                <button id="doneWithCropButton" class="btn btn-default" type="button" disabled="disabled">Done Cropping</button>
            </div>
        }
        <div class="row">
            <div id="initialInfo" class="infoBox">
                <label id="dragInfo"></label>
                <ul id="draggedFiles"></ul>
            </div>
        </div>
    </div>
</div>
      
@Scripts.Render("~/Scripts/cropper.js")
