@model Mvc5TestBed.MyMvcWebApp.Models.UploadThingy
@{
    ViewBag.Title = "Index";
}


<style>
    .dropzone {
        float: left;
        width: 300px;
        height: 300px;
        border: 1px solid #cccccc;
        border-radius: 7px;
        padding: 10px;
    }
</style>

@Styles.Render("~/Content/jquery.Jcrop.css")
@*MUST REMOVE Jquery Bundle from _layout & refer like this (not sure why???)*@
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@*@Scripts.Render("~/Scripts/jquery.color.js")*@

@Scripts.Render("~/Scripts/jquery.Jcrop.js")




<div class="container">
    @using (Html.BeginForm("Upload", "PictureUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div id="initialInfo" class="infoBox">
                <h3>Choose Image to Upload</h3>

                <input class="btn btn-default" id="imageFileInput" name="pictureFiles" type="file" accept="image/*" multiple>
                @*<img id="imgPreview" class="dropzone">*@
                <div id="dropzone" class="dropzone">
                    Or drag/drop image file(s) here
                </div>
            </div>
        </div>
        <div class="row">
            <button id="cropButton" class="btn btn-default" type="button" disabled="disabled">Crop</button>
            <input type="submit" value="Send to Server" class="btn btn-default">
        </div>
        <div class="row">
            <div id="initialInfo" class="infoBox">
                <label id="dragInfo"></label>
                <ul id="draggedFiles"></ul>
            </div>
        </div>
    }
    @*@if (!string.IsNullOrWhiteSpace(Model.ImgUrl))*@
    @*<img id="cropTarget" src="@(Model.ImgUrl)" />*@
</div>


<script type="text/javascript">

    var jCropApi;
    jQuery(function ($) {
        jCropApi = $('#xxxx').Jcrop({
            onSelect: cropSelectEvent
            , trackDocument: true
        });
    });

    function dragOverEvent(event) {
        console.log("dragover");
        event.preventDefault();

        //event.target.style.border = "2px solid #9ecaed";
        $(event.target).css("outline", "none");
        $(event.target).css("border-color", "#9ecaed");
        $(event.target).css("box-shadow", "1px 1px 10px #9ecaed");
    }

    function dragLeaveEvent(event) {
        console.log("dragleave");
        event.preventDefault();
        $(event.target).css("border-color", "");
        $(event.target).css("box-shadow", "");
        event.target.style.border = "1px solid #cccccc";
    }

    function dragDropEvent(event) {
        console.log("drop");
        event.preventDefault();
        // Ready to do something with the dropped object
        event.target.style.border = "1px solid #cccccc";
        reportUploadInfo(event.dataTransfer.files);
        if (event.dataTransfer.files.length > 0) {
            previewImage(event.dataTransfer.files[0]);
        }
    }

    $("#imageFileInput").change(function () {
        reportUploadInfo(this.files);
        if (this.files && this.files.length > 0) {
            previewImage(this.files[0]);
        }
    });

    function cropSelectEvent(c) {
        // variables can be accessed here as
        // c.x, c.y, c.x2, c.y2, c.w, c.h
        console.log(c.x + "," + c.y + "," + c.x2 + "," + c.y2 + "," + c.w + "," + c.h)

        //var canvas = document.getElementById("myCanvas");//$("#myCanvas");
        //var context = canvas.getContext("2d");
        //var imageObj = new Image();

        //imageObj.onload = function () {
        //    // draw cropped image
        //    var sourceX = c.x;
        //    var sourceY = c.y;
        //    var sourceWidth = c.x2 - c.x;//c.w; //c.x2-c.x;
        //    var sourceHeight = c.y2 - c.y;//c.h; //c.y2-c.y;
        //    //var destWidth = sourceWidth;
        //    //var destHeight = sourceHeight;
        //    //var destX = canvas.width / 2 - destWidth / 2;
        //    //var destY = canvas.height / 2 - destHeight / 2;
        //    var destWidth = canvas.width;
        //    var destHeight = canvas.height;
        //    var destX = 1;
        //    var destY = 1;

        //    context.drawImage(imageObj, sourceX, sourceY, sourceWidth, sourceHeight, destX, destY, destWidth, destHeight);
        //};
        //imageObj.src = '@(Model.ImgUrl)';
    };

    function reportUploadInfo(fileList) {

        var label = $("#dragInfo");
        label.html("You've just chosen" + fileList.length + " file(s)");
        var ul = $("#draggedFiles");
        ul.empty();

        // You've selected input.files.length files
        for (var i = 0; i < fileList.length; i++) {
            var li = document.createElement("li");
            $(li).html(fileList[i].name);
            ul.append(li);
        }
    }

    function readData(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
        var reader = new FileReader();
        reader.onload = (function(theFile) {
            return function(e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function() {
                    var canvas = document.createElement('canvas');
                    canvas.width = 400;
                    canvas.height = image.height * (400 / image.width);
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                    $('#image_input').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));

                    var img = $('#image_input img')[0];
                    var canvas = document.createElement('canvas');

                    $('#image_input img').Jcrop({
                        bgColor: 'black',
                        bgOpacity: .6,
                        setSelect: [0, 0, 100, 100],
                        aspectRatio: 1,
                        onSelect: imgSelect,
                        onChange: imgSelect
                    });

                    function imgSelect(selection) {
                        canvas.width = canvas.height = 100;
            
                        var ctx = canvas.getContext('2d');
                        ctx.drawImage(img, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);
                    
                        $('#image_output').attr('src', canvas.toDataURL());
                        $('#image_source').text(canvas.toDataURL());
                    }
                }
            }
        })(file);
        reader.readAsDataURL(file);
    }

    function previewImage(imageFile) {
        var reader = new FileReader();
        reader.onload = (function (theFile) {

            return function (e) {
                //var img = document.createElement("img");
                //img.src = e.target.result;
                //img.id = "cropTarget";
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var canvas1 = document.createElement("canvas");
                    //canvas.id = "myCanvas";

                    var w = $("#dropzone").width();
                    canvas1.width = w;
                    canvas1.height = image.height * (w / image.width);
                    var context = canvas1.getContext("2d");
                    context.drawImage(image, 0, 0, canvas1.width, canvas1.height);


                    $("#dropzone").html(['<img src="', canvas1.toDataURL(), '"/>'].join(''));

                    //var img = $('#image_input img')[0];
                    //var canvas2 = document.createElement('canvas')

                    var initialSelectBox = [0, 0, 100, 100];

                    $("#dropzone img").Jcrop({
                        bgColor: 'black',
                        bgOpacity: .6,
                        setSelect: initialSelectBox,
                        aspectRatio: 1,
                        onSelect: cropSelectEvent,
                        onChange: cropSelectEvent
                    });
                    //function imgSelect(selection) {
                    //    canvas.width = canvas.height = 100;

                    //    var ctx = canvas.getContext('2d');
                    //    ctx.drawImage(img, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);

                    //    $('#image_output').attr('src', canvas.toDataURL());
                    //    $('#image_source').text(canvas.toDataURL());
                    //}
                };
            }
        })(imageFile);

        //var MAX_WIDTH = 800;
        //var MAX_HEIGHT = 600;
        //var width = img.width;
        //var height = img.height;

        //if (width > height) {
        //    if (width > MAX_WIDTH) {
        //        height *= MAX_WIDTH / width;
        //        width = MAX_WIDTH;
        //    }
        //} else {
        //    if (height > MAX_HEIGHT) {
        //        width *= MAX_HEIGHT / height;
        //        height = MAX_HEIGHT;
        //    }
        //}

        //var canvas = document.createElement("canvas");
        //canvas.id = "myCanvas";
        //$("#dropzone").width(width);
        //$("#dropzone").height(height);
        //canvas.width = width;
        //canvas.height = height;
        //var context = canvas.getContext("2d");
        //context.drawImage(img, 0, 0);
        //$("#dropzone").html(canvas);

        reader.readAsDataURL(imageFile);
        $('#cropButton').prop('disabled', false);
    }

    $("#cropButton").click(function () {
        //var jcropApi = $('#cropTarget').Jcrop
        jCropApi.enable();
    });

    $(document).ready(function () {


        dropzone.addEventListener("dragover", dragOverEvent, true);
        dropzone.addEventListener("dragleave", dragLeaveEvent, true);
        dropzone.addEventListener("drop", dragDropEvent, true);


        //initJcrop();

        function initJcrop() {
            //jQuery(function ($) {
            //    $('#cropTarget').Jcrop({
            //        onSelect: cropSelectEvent
            //        , trackDocument: true
            //    });
            //});
            //jcrop_api = $.Jcrop('#cropTarget');
            //jcrop_api = $('#cropTarget').Jcrop({
            //    onSelect: cropSelectEvent
            //, trackDocument: true
            //});
            //$('#cropTarget').Jcrop();

            // var jcropApi = $('#cropTarget').Jcrop();

            //jcropApi = $('#cropTarget')[0].Jcrop();

            // $.Jcrop($('img')[0], options)
        }
    });
    //$(window).load(function () {
    //    jCropApi = $.Jcrop($("#xxxx"));
    //});

</script>
